<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <form action="/account_creation" method="post">
      <div class="row column log-in-form">
        <h4 class="text-center">Create your account</h4>
        <label for="username">Username
          <input id="username" type="text" placeholder="username" name="user[username]">
        </label>
        <label for="password">Password
          <input id="password" type="password" placeholder="Password" name="user[password]">
        </label>
        <p><input id="create" type="submit" class="button expanded" value="Create"></p>
      </div>
    </form>
  </div>
</div>
