<div class="medium-4 medium-centered large-3 large-centered columns">
  <div class="callout">
    <h2>Contact Us<h2>
      <ul>
        <li>Tel: 011 555 555</li>
        <li>Email: info@ciaobaby.com</li>
        <li>Address: The Mall, 1 Drive Avenue, Pretoria</li>
      </ul>
  </div>
</div>
