<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <h2>Contact Us<h2>
      <ul style="font-size: 16px; font-weight: normal; color:#000;">
        <li>Tel: 011 555 555</li>
        <li>Email: info@ciaobaby.com</li>
        <li>Address: The Mall, 1 Drive Avenue, Pretoria</li>
      </ul>
  </div>
</div>
