<h1>Make a selection from our mouth watering dishes</h1>
<% if @dishes.any? %>
  <ul>
    <% @dishes.each do |dish| %>
    <li>
      <%= dish.name %>
    </li>
    <% end %>
  </ul>
<% else %>
  <p>
    There are no dishes to display
  </p>
<% end %>
