<!DOCTYPE html>
<html>
<head>
<body>
<title>Ciao Baby Resturant</title>

<h1>Our Restaurant</h1>

<p>
  <% if current_user && current_user.admin? %>
    Welcome Administrator
    <a href="/auth/logout">Log Out</a></p>

  <% elsif current_user %>
    Logged in as <%= current_user.username %>
    <a href="/auth/logout">Log Out</a></p>
  <% else %>

    <a href="/auth/login">Log In</a>
  <% end %>

  <% if flash[:success] %>
    <div id="flash" style="color:green;">
      <%= flash[:success] %>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div id="flash" style="color:red;">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= yield %>

  <script>
    $(document).ready(function () {
      var flash = $('#flash');
      if (flash.length > 0) {
        window.setTimeout(function () {
          flash.fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
          });
        }, 5000);
      }
    });
  </script>
  </body>
  <footer>
    <script >
    </script>
  </footer>
</html>
