<div class="medium-4 medium-centered large-2 large-centered columns">
  <div class="callout">
    <h2>Site Map<h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dishes">Menu</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/account_creation">Create an account</a></li>
      </ul>
  </div>
</div>
