<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <h2>Site Map<h2>
      <ul style="font-size: 16px; font-weight: normal; color:#000;">
        <li><a href="/">Home</a></li>
        <li><a href="/dishes">Menu</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/account_creation">Create an account</a></li>
      </ul>
  </div>
</div>
